@model BusinessObject.UserProfile

@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Create User";
}

<h2>Create User</h2>
<div style="border:2px solid black; border-radius:4px;padding:10px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>UserProfile</legend>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

            </div>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.MiddleName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MiddleName)
                        @Html.ValidationMessageFor(model => model.MiddleName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EmailAddress)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EmailAddress)
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                </div>
            </div>



            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RoleName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RoleName)
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.City)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.State)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.State)
                        @Html.ValidationMessageFor(model => model.State)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Zip)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Zip)
                        @Html.ValidationMessageFor(model => model.Zip)
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsActive)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success" value="Create User" />
                    <input class="btn btn-primary" onclick="location.href='@Url.Action("Index")';return false;" value="Back to list" />
                </div>
            </div>
        </fieldset>
    }
</div>
