<!DOCTYPE html>
<html lang="en">
<head>
    <title>TweetEvents</title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @{
        var cookie = Request.Cookies[FormsAuthentication.FormsCookieName];
        if (cookie != null)
        {
            var ticketInfo = FormsAuthentication.Decrypt(cookie.Value);
            string[] data = ticketInfo.UserData.Split(',');
            ViewBag.RoleName = data[0];

            ViewBag.FirstName = data[1];
        }

    }
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.js"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
</head>
<body style="width:100%;height:100%;">
    <script>
        $(document).ready(function () {
            $("#custLink").click(function () { $(".active").removeClass("active"); $("#custLink").parent("li").addClass("active"); });
            $("#evtMgrLink").click(function () { $(".active").removeClass("active"); $("#evtMgrLink").parent("li").addClass("active"); });
            $("#userLink").click(function () { $(".active").removeClass("active"); $("#userLink").parent("li").addClass("active"); });
        });
    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <strong class="appLogo">
                    <a style="font-size:36px; color:blue !important;" href="~/Customer/Index" id="custLink">TweetEvents</a>
                </strong>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/Customer/Index" style="color:black; font-size:18px;" id="custLink">Customers</a></li>
                <li><a href="~/EventBooking/Index" style="color:black; font-size:18px;" id="evtMgrLink">Event Bookings</a></li>
                @if (ViewBag.RoleName == "Admin")
                {
                    <li><a href="~/UserProfile/Index" style="color:black; font-size:18px;" id="userLink">Users</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right" style="color:black;">
                <li>
                    <a style="color:black; font-size:18px;" href="#">@ViewBag.FirstName Logged in</a>
                </li>
                <li>
                    <a class="btn btn-danger" style="padding-top:7px; margin-top:5px; margin-right:20px; color:black;font-weight:bold;" href="~/Account/Logout" id="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="body" class="img-rounded" style="margin-top:-20px;">
        <div class="container">
            @RenderBody()
        </div>

    </div>
    <footer style="height:20px !important;">
        <div class="text-right">
            Created By : Poonam Dubey
        </div>
    </footer>
</body>
</html>
